<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../credit/credit.css" />
    <link rel="stylesheet" href="../credit/credit.scss" />
    <title>Credit</title>
  </head>
  <body>
    <div class="wrapper">
      <section>
        <div class="main-nav">
          <div class="main-nav__wrapper">
            <div class="hamburger-menu">
              <input id="humburger__toggle" type="checkbox" />
              <label class="humburger__btn" for="humburger__toggle">
                <span></span>
              </label>
              <div class="humburger__lists">
                <hr class="main-nav__mobile-hr" />

                <div class="humburger__box">
                  <span class="humburger__subtitle">Профиль</span>
                </div>
                <div class="humburger__box">
                  <img
                    src="../../img/icons/natifications/Nav/Item/24/notifications/bell.png"
                    alt=""
                    class="humburger__item__bell"
                  />
                  <a href="../bell/bell.html" class="humburger__item-link"
                    >Уведомления</a
                  >
                </div>

                <div class="humburger__box">
                  <img
                    src="../../img/icons/user/Nav/Item/24/basic/user.png"
                    alt=""
                    class="humburger__item__user"
                  />
                  <a
                    href="../personal-data/personal-data.html"
                    class="humburger__item-link"
                    >Личные данные</a
                  >
                </div>

                <div class="humburger__box">
                  <img
                    src="../../img/icons/maps/Nav/Item/24/maps/pin-round.png"
                    alt=""
                    class="humburger__item__map"
                  />
                  <a href="../address/address.html" class="humburger__item-link"
                    >Адрес проживания</a
                  >
                </div>

                <div class="humburger__box">
                  <img
                    src="../../img/icons/finance/Nav/Item/24/finance/wallet.png"
                    alt=""
                    class="humburger__item__wallet"
                  />
                  <a href="../income/income.html" class="humburger__item-link"
                    >Доход / Расход</a
                  >
                </div>

                <div class="humburger__box">
                  <img
                    src="../../img/icons/basic/Nav/Item/24/basic/case.png"
                    alt=""
                    class="humburger__item__case"
                  />
                  <a href="../pl-work/pl-work.html" class="humburger__item-link"
                    >Место работы</a
                  >
                </div>

                <div class="humburger__box">
                  <img
                    src="../../img/icons/carte/Nav/Item/24/finance/creditcard-face.png"
                    alt=""
                    class="humburger__item__cart"
                  />
                  <a href="../cart/cart.html" class="humburger__item-link"
                    >Мои карты</a
                  >
                </div>
                <div class="humburger__box">
                  <span class="humburger__dop-info">Доп. данные </span>
                </div>
                <div class="humburger__box">
                  <img
                    src="../../img/icons/folde/Nav/Item/24/file/folder.png"
                    alt=""
                    class="humburger__item__folder"
                  />
                  <a href="../credit/credit.html" class="humburger__item-link"
                    >История кредитов</a
                  >
                </div>
                <div class="humburger__box">
                  <img
                    src="../../img/icons/security/Nav/Item/24/security/lock.png"
                    alt=""
                    class="humburger__item__lock"
                  />
                  <a
                    href="../password/password.html"
                    class="humburger__item-link"
                    >Сменить пароль</a
                  >
                </div>
                <div class="humburger-block">
                  <div class="humburger__inner">
                    <span class="humburger__room">0 (800) 753-363 </span>
                    <span class="humburger__lazy">безкоштовно по Україні</span>
                  </div>
                </div>
                <div class="humburger-use">
                  <div class="humburger__inner">
                    <select name="" id="select" class="humburger__option">
                      <option value="RU" class="humburger__lang">Ru</option>
                      <option value="EN" class="humburger__lang">En</option>
                      <option value="UA" class="humburger__lang">Ua</option>
                    </select>
                    <button class="humburger__button">Погасить</button>
                  </div>
                </div>
                <div class="humburger__box__two">
                  <h2 class="humburger__text__helo">Нужна помощь?</h2>
                  <div class="humburger__aside">
                    <img
                      src="../../img/user/account/001.png"
                      alt=""
                      class="humburger__avatar"
                    />
                    <div class="humburger__list__info">
                      <span class="humburger__user__name">Даниил</span>
                      <span class="humburger__info"
                        >Ваш персональний менеджер</span
                      >
                      <div class="humburger__block___phone">
                        <strong class="humburger__phone">
                          +38 (074) 444 56 23 <br />
                          +38 (074) 444 56 23</strong
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="humburger-lazy">
                  <div class="hb-lazy"></div>
                </div>
              </div>
            </div>
            <div class="main-nav__logo">
              <a href="../../index.html" class="main-nav__logo-link"></a>
            </div>

            <ul class="main-nav__list">
              <li class="main-nav__manu-item">
                <a href="" class="main-nav__link">О нас</a>
              </li>
              <li class="main-nav__manu-item">
                <a href="" class="main-nav__link">Как получить</a>
              </li>
              <li class="main-nav__manu-item">
                <a href="" class="main-nav__link">Как продлить</a>
              </li>
              <li class="main-nav__manu-item">
                <a href="" class="main-nav__link">Как погасить</a>
              </li>
              <li class="main-nav__manu-item">
                <a href="" class="main-nav__link">Новости</a>
              </li>
            </ul>
          </div>

          <div class="main-nav__wrap">
            <div class="main-nav__column">
              <h1 class="main-nav__phone">0 (800) 753-363</h1>
              <h1 class="main-nav__slogan">безкоштовно по Україні</h1>
            </div>

            <select name="" id="select">
              <option value="RU" class="main-nav__leng-switcher">RU</option>
              <option value="EN" class="main-nav__leng-switcher">EN</option>
              <option value="UA" class="main-nav__leng-switcher">UA</option>
            </select>
            <div class="main-nav__img-user"></div>
            <a href="" class="main-nav__user-exit"
              >Выход
              <div class="main-nav__img-exit"></div>
            </a>
          </div>
        </div>
      </section>

      <section>
        <div class="section">
          <div class="section__bar">
            <div class="menu__container">
              <div class="menu__button">
                <button class="menu__btn">Оформить кредит</button>
              </div>
              <div class="menu__desc">
                <span class="menu__subtitle">Профиль</span>
              </div>
              <div class="menu__list">
                <div class="menu__box-item">
                  <img
                    src="../../img/icons/natifications/Nav/Item/24/notifications/bell.png"
                    alt=""
                    class="menu__item__bell"
                  />
                  <a
                    href="../../components/bell/bell.html"
                    class="menu__item-link page-bell"
                    >Уведомления</a
                  >
                </div>

                <div class="menu__box-item">
                  <img
                    src="../../img/icons/user/Nav/Item/24/basic/user.png"
                    alt=""
                    class="menu__item__user"
                  />
                  <img
                    src="../../img/address/address-personal/качай_гроши/Nav/Item/Union.png"
                    alt=""
                    class="menu__item__user-hidden"
                  />
                  <a
                    href="../../components/personal-data/personal-data.html"
                    class="menu__item-link page-personal"
                    >Личные данные</a
                  >
                </div>

                <div class="menu__box-item">
                  <img
                    src="../../img/icons/maps/Nav/Item/24/maps/pin-round.png"
                    alt=""
                    class="menu__item__map"
                  />
                  <a
                    href="../../components/address/address.html"
                    class="menu__item-link page-work-expenses page-address"
                    >Адрес проживания</a
                  >
                </div>

                <div class="menu__box-item">
                  <img
                    src="../../img/icons/finance/Nav/Item/24/finance/wallet.png"
                    alt=""
                    class="menu__item__wallet"
                  />
                  <a
                    href="../../components/income/income.html"
                    class="menu__item-link page-income"
                    >Доход / Расход</a
                  >
                </div>

                <div class="menu__box-item">
                  <img
                    src="../../img/icons/basic/Nav/Item/24/basic/case.png"
                    alt=""
                    class="menu__item__case"
                  />
                  <a
                    href="../../components/pl-work/pl-work.html"
                    class="menu__item-link page-work"
                    >Место работы</a
                  >
                </div>

                <div class="menu__box-item">
                  <img
                    src="../../img/icons/carte/Nav/Item/24/finance/creditcard-face.png"
                    alt=""
                    class=".menu__item__cart "
                  />
                  <a
                    href="../../components/cart/cart.html"
                    class="menu__item-link "
                    >Мои карты</a
                  >
                </div>
                <div class="menu__box-item">
                  <span class="menu__dop">Доп. данные </span>
                </div>
                <div class="menu__box-item">
                  <img
                    src="../../img/credit/качай_гроши/Nav/Item/24/file/folder.png"
                    alt=""
                    class="menu__item__folder "
                  />
                  <a
                    href="#"
                    class="menu__item-link page-credit"
                    >История кредитов</a
                  >
                </div>
                <div class="menu__box-item box-hidden box-mobile">
                  <img
                    src="../../img/icons/security/Nav/Item/24/security/lock.png"
                    alt=""
                    class="menu__item__lock"
                  />
                  <a
                    href="../../components/password/password.html"
                    class="menu__item-link"
                    >Сменить пароль</a
                  >
                </div>
                <div class="menu__box-item box-hidden">
                  <img
                    src="../../img/icons/time/Nav/Item/24/time/time-history.png"
                    alt=""
                    class="menu__item__time"
                  />
                  <a
                    href="../../components/action/action.html"
                    class="menu__item-link"
                    >История действий</a
                  >
                </div>
              </div>
            </div>

            <div class="menu__box__two">
              <h2 class="menu__text-hello">Нужна помощь?</h2>
              <div class="menu__aside">
                <img
                  src="../../img/user/account/001.png"
                  alt=""
                  class="menu__avatar"
                />
                <div class="menu__list-info">
                  <span class="menu__user-name">Даниил</span>
                  <span class="menu__info">Ваш персональний менеджер</span>
                  <div class="menu__block-phone">
                    <strong class="menu-phone">
                      +38 (074) 444 56 23 <br />
                      +38 (074) 444 56 23</strong
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section__history">
            <div class="history__block">
              <div class="history__header">
                <h1 class="history__title">История кредитов</h1>
              </div>
            </div>
            <div class="history__container">
                <div class="credit-history__block">
                    <div class="history__box">
                        <ul class="history__list">
                            <li class="history__info">
                              <p class="history-data">Заявка:</p>
                            <strong class="credit-data">00-1764748</strong>
                          </li>
                            <li class="history__info hs-data">
                              <p class="history-data">Дата выдачи:</p>
                                <strong class="credit-data">18.09.2020</strong>
                              </li>
                            <li class="history__info hs-sum">
                              <p class="history-data">Сумма:</p>
                                <strong class="credit-data">3000.00 грн</strong>
                              </li>
                        </ul>
                        <ul class="history__list use-box">
                          <li class="history__info hs-term">
                            <p class="history-data">Срок кредита:</p>
                              <strong class="credit-data">15 дней</strong>
                            </li>
                          <li class="history__info  hs-refusal">
                            <p class="history-data">Статус:</p>
                              <strong class="credit-data history-refusal">• Отказ пользователя</strong>
                              <strong class="credit-data history-refusal-hidden">• Отказ</strong>
                            </li>
                          <li class="history__info hs-document">
                            <a href="" class="history__download">Скачать документы</a>
                          <a href="" class="history__list-show">Показати більше</a>
                        </li>
                        </ul>
                    </div>
                </div>
                <div class="credit-history__block">
                  <div class="history__box">
                    <ul class="history__list">
                        <li class="history__info">
                          <p class="history-data">Заявка:</p>
                        <strong class="credit-data">00-1764748</strong>
                      </li>
                        <li class="history__info hs-data-item">
                          <p class="history-data">Дата выдачи:</p>
                            <strong class="credit-data">18.09.2020</strong>
                          </li>
                        <li class="history__info hs-sum-item">
                          <p class="history-data">Сумма:</p>
                            <strong class="credit-data">3000.00 грн</strong>
                          </li>
                    </ul>
                    <ul class="history__list use-box">
                      <li class="history__info cr-term-item">
                        <p class="history-data">Срок кредита:</p>
                          <strong class="credit-data">15 дней</strong>
                        </li>
                        <li class="history__info  cr-refusal-item">
                          <p class="history-data">Статус:</p>
                          <strong class="credit-data history-performed">• Погашен</strong>
                      </li>
                      <li class="history__info cr-download-item ">
                          <a href="#" class="history__download cr-download-item">Скачать документы</a>
                          <a href="#" id="block-list" class="history__list-show  ">Показати більше</a>
                       </li>
                    </ul>
                </div>
                </div>
                <div class="credit-history__block block-hidden">
                  <div class="history__box">
                    <ul class="history__list">
                        <li class="history__info">
                          <p class="history-data">Заявка:</p>
                        <strong class="credit-data">00-1764748</strong>
                      </li>
                        <li class="history__info hs-data-item">
                          <p class="history-data">Дата выдачи:</p>
                            <strong class="credit-data">18.09.2020</strong>
                          </li>
                        <li class="history__info hs-sum-item">
                          <p class="history-data">Сумма:</p>
                            <strong class="credit-data">3000.00 грн</strong>
                          </li>
                    </ul>
                    <ul class="history__list use-box">
                      <li class="history__info cr-term-item">
                        <p class="history-data">Срок кредита:</p>
                          <strong class="credit-data">15 дней</strong>
                        </li>
                        <li class="history__info  cr-refusal-item">
                          <p class="history-data">Статус:</p>
                          <strong class="credit-data history-performed">• Погашен</strong>
                      </li>
                      <li class="history__info cr-download-item ">
                          <a href="#" class="history__download cr-download-item">Скачать документы</a>
                          <a href="#" id="block-list" class="history__list-show  ">Показати більше</a>
                       </li>
                    </ul>
                </div>
                </div>

                <div id="history__wrap" class="history__wrap">
                  <div class="history__block-hidden">
                    <div class="history__box">
                        <ul class="history__list">
                            <li class="history__info">
                                <p class="history-data">Заявка:</p>
                            <strong class="credit-data">00-1764748</strong>
                        </li>
                            <li class="history__info">
                                <p class="history-data">Дата выдачи:</p>
                                <strong class="credit-data">18.09.2020</strong>
                            </li>
                            <li class="history__info">
                                <p class="history-data">Сумма:</p>
                                <strong class="credit-data">3000.00 грн</strong>
                            </li>
                            <li class="history__info sm-item">
                                <p class="history-data">Срок кредита:</p>
                                <strong class="credit-data">15 дней</strong>
                            </li>
                            <li class="history__info  hs-refusal">
                                <p class="history-data">Статус:</p>
                                <strong class="credit-data history-performed">• Погашен</strong>
                            </li>
                            <li class="history__info hs-hidden">
                                <a href="#" class="history__download">Скачать документы</a>
                                <a href="#" id="history__list-show" class="history__list-show">Скрити</a>
                             </li>
                        </ul>
                    </div>

                    <div class="history__box-cr">
                      <ul class="history__list-info">
                        <li class="history__data-show">Номер</li>
                        <li class="history__data-show">Сумма</li>
                        <li class="history__data-show">Дата</li>
                        <li class="history__data-show">Тип</li>
                        <li class="history__data-show hs-lazy">Статус</li>
                      </ul>
                    </div>
                    <div class="history__block-table">
                      <div class="history__box-info">
                          <ul class="history__list-credit">
                            <li class="history__credit-sm"><span class="credit-sum credit-nb">148</span></li>
                            <li class="history__credit-sm"><span class="credit-sum">500,0 грн</span></li>
                            <li class="history__credit-sm"><span class="credit-sum">18.09.2020</span></li>
                            <li class="history__credit-sm"><span class="credit-sum">Оплата</span></li>
                            <li class="history__credit-sm"><span class="credit-sum history-performed">Успішно</span></li>
                          </ul>
                      </div>
                      <div class="history__box-info">
                        <ul class="history__list-credit">
                          <li class="history__credit-sm"><span class="credit-sum credit-nb">142</span></li>
                          <li class="history__credit-sm"><span class="credit-sum">500,0 грн</span></li>
                          <li class="history__credit-sm"><span class="credit-sum">18.09.2020</span></li>
                          <li class="history__credit-sm"><span class="credit-sum">Надання кредиту</span></li>
                          <li class="history__credit-sm"><span class="credit-sum history-performed">Успішно</span></li>
                        </ul>
                    </div>
                    <div class="history__box-info">
                      <ul class="history__list-credit">
                        <li class="history__credit-sm"><span class="credit-sum credit-nb">127</span></li>
                        <li class="history__credit-sm"><span class="credit-sum">500,0 грн</span></li>
                        <li class="history__credit-sm"><span class="credit-sum">18.09.2020</span></li>
                        <li class="history__credit-sm"><span class="credit-sum">Надання кредиту</span></li>
                        <li class="history__credit-sm"><span class="credit-sum history-performed">Успішно</span></li>
                      </ul>
                  </div>
                  <div class="history__box-info">
                    <ul class="history__list-credit">
                      <li class="history__credit-sm"><span class="credit-sum credit-nb">37</span></li>
                      <li class="history__credit-sm"><span class="credit-sum">2,0 грн</span></li>
                      <li class="history__credit-sm"><span class="credit-sum">18.09.2020</span></li>
                      <li class="history__credit-sm"><span class="credit-sum">Оплата</span></li>
                      <li class="history__credit-sm"><span class="credit-sum history-performed">Успішно</span></li>
                    </ul>
                </div>
                    </div>
                </div>
                </div>

            </div>

        </div>
      </section>
    </div>
    <script src="../../script/script.js"></script>
  </body>
</html>
